$color_1: #FFFFFF;
$color_2: #E7B803;
$color_3: #fff;
$color_4: rgb(0, 0, 0);
$color_5: #4a5568;
$color_6: #2F2F2F;
$color_7: #333333;
$color_8: #D98F00;
$color_9: #000;
$color_10: #000000;
$color_11: #141414;
$font-family_1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$background-color_1: #E7B803;
$background-color_2: #fff;
$background-color_3: #000;
$background-color_4: #1a202c;
$background-color_5: #FFFFFF;
$background-color_6: #2F2F2F;
$background-color_7: transparent;

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.container-xxl {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
body {
	margin: 0 auto;
	padding: 0;
}
h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: $font-family_1;
}
h2 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0;
}
h4 {
	margin: 0;
	padding: 0;
}
h5 {
	margin: 0;
	padding: 0;
}
h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
.all {
	background-image: url(images/Screenshot_15.png);
	background-repeat: no-repeat;
	margin-bottom: -100px;
	background-position: center;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	.hrefs {
		a {
			margin-left: 40px;
			color: $color_1;
			text-decoration: none;
			font-size: 18px;
			font-family: $font-family_1;
			&:hover {
				color: $color_2;
			}
		}
	}
}
.banner {
	display: flex;
}
.banner-title {
	width: 30%;
	height: 100px;
	margin-top: 50px;
	h1 {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 700;
		font-size: 38.83px;
		line-height: 144.19%;
		letter-spacing: 0.02em;
		color: $color_2;
	}
	h3 {
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		line-height: 122.69%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_1;
	}
}
.machine {
	position: relative;
}
.yellow-border {
	background-color: $background-color_1;
}
.yellow {
	background-color: $background-color_1;
	display: flex;
	justify-content: space-between;
}
.form {
	max-width: 320px;
	width: 100%;
	background-color: $background-color_2;
	padding: 20px;
	box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.title {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 20px;
	color: $color_3;
	font-family: $font-family_1;
}
form {
	span {
		background-color: $background-color_3;
		padding: 10px 10px;
	}
}
.label {
	color: $color_4;
	margin-bottom: 4px;
}
.input {
	padding: 10px;
	margin-bottom: 20px;
	width: 93%;
	font-size: 1rem;
	color: $color_5;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
	&:focus {
		background-color: $background-color_2;
		box-shadow: 0 0 0 2px #cbd5e0;
	}
	&:valid {
		border: 1px solid green;
	}
	&:invalid {
		border: 1px solid rgba(14, 14, 14, 0.205);
	}
}
.submit {
	background-color: $background-color_4;
	color: $color_3;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.yel-title {
	h3 {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 122.69%;
		letter-spacing: 0.02em;
		color: $color_6;
	}
	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 31.5px;
		line-height: 144.19%;
		letter-spacing: 0.02em;
		font-family: $font-family_1;
		color: $color_6;
	}
	p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 157.69%;
		letter-spacing: 0.02em;
		font-family: $font-family_1;
		color: $color_6;
		margin-top: 30px;
	}
	padding: 170px 10px 10px 10px;
}
.cars {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}
.card {
	background: #FFFFFF;
	box-shadow: 0px 8px 16px -5px rgba(0, 0, 0, 0.21);
	transition: all 0.5s;
	&:hover {
		box-shadow: none;
		transition: all 0.5s;
		transform: scale(0.95);
	}
}
.card-text {
	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 122.69%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_7;
	}
	p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 157.69%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		margin-top: 10px;
		color: $color_7;
	}
	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 122.69%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		margin-top: 10px;
		color: $color_8;
	}
	padding: 0px 10px 10px 10px;
}
.fix {
	margin-top: 70px;
}
.card-btn {
	button {
		padding: 10px 30px;
		color: $color_3;
		background: #141414;
		cursor: pointer;
		&:hover {
			background-color: $background-color_5;
			color: $color_9;
		}
	}
	padding: 10px;
	text-align: center;
}
.download {
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	margin-bottom: 20px;
}
.dow-title {
	h3 {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_10;
	}
	p {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 157.69%;
		margin-top: 20px;
		letter-spacing: 0.02em;
		color: $color_10;
	}
	margin-top: 30px;
}
.dow-img {
	margin-top: 30px;
	cursor: pointer;
}
.client {
	background-color: $background-color_6;
	margin-top: 50px;
}
.yellow-client {
	background-color: $background-color_6;
}
.client-top {
	padding: 50px;
	h2 {
		text-align: center;
		font-family: $font-family_1;
		color: $color_1;
	}
	h1 {
		color: $color_2;
		font-size: 35px;
	}
}
.person-border {
	display: flex;
	justify-content: space-between;
}
.personal-sel {
	display: flex;
	padding: 30px 10px 150px 0px;
}
.personal-right {
	margin-left: 10px;
	h3 {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_2;
	}
	h4 {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_2;
	}
}
.personal-text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 157.69%;
	font-family: $font-family_1;
	letter-spacing: 0.02em;
	color: $color_1;
}
.sel-btn {
	padding: 40px;
	text-align: end;
	button {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		background-color: $background-color_7;
		color: $color_2;
		border: 1px solid #E7B803;
		border-top: transparent;
		border-left: transparent;
		border-right: transparent;
		cursor: pointer;
	}
}
.number-border {
	background-color: $background-color_1;
}
.number {
	background-color: $background-color_1;
	h2 {
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		text-align: center;
		color: $color_11;
	}
	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_11;
	}
}
.number-slot {
	padding: 40px;
}
.logotips {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	width: 150px;
}
.foot-border {
	background-color: $background-color_6;
}
.foot {
	background-color: $background-color_6;
	display: flex;
	justify-content: space-between;
	padding: 70px;
	h2 {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 144.19%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_1;
	}
	p {
		margin-top: 15px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 157.69%;
		font-family: $font-family_1;
		letter-spacing: 0.02em;
		color: $color_1;
	}
}
.hr {
	width: 336px;
	height: 0px;
	margin-top: 15px;
	border: 3px solid #E7B803;
}
.solution {
	h5 {
		a {
			color: $color_2;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 157.69%;
			font-family: $font-family_1;
			letter-spacing: 0.02em;
			color: $color_2;
			text-decoration: none;
		}
	}
	h6 {
		a {
			color: $color_2;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 157.69%;
			font-family: $font-family_1;
			letter-spacing: 0.02em;
			text-decoration: none;
			color: $color_2;
		}
	}
	margin-top: 20px;
}
.group3 {
	display: flex;
	p {
		margin-left: 10px;
	}
}
.group4 {
	display: flex;
	margin-top: 30px;
	h4 {
		a {
			text-decoration: none;
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 157.69%;
			margin-left: 10px;
			letter-spacing: 0.02em;
			color: $color_1;
		}
	}
}
.group5 {
	display: flex;
	margin-top: 20px;
	h4 {
		a {
			text-decoration: none;
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 157.69%;
			margin-left: 10px;
			letter-spacing: 0.02em;
			color: $color_1;
		}
	}
}
